<!DOCTYPE html>
<html>
  <!--Menu de inicio-->
  <app-menu></app-menu>
  <!--Contenido-->
  <router-outlet></router-outlet>
  <!--Pie de página-->
  <footer class="footer-distributed">
    <div class="footer-right">
      <a href="https://github.com/Jorge617/PokemonDRA22"
        ><img src="./assets/github.png" alt=""
      /></a>
    </div>
    <div class="footer-left">
      <p class="footer-links">
        <a class="link-1" href="#">Desarrollo rápido de aplicaciones</a>
      </p>
      <p>Universidad de Almería &copy; 2022</p>
    </div>
  </footer>
</html>
