<!DOCTYPE html>
<html lang="es">
  <head></head>
  <body>
    <div class="pokemons-container">
      <div class="pokemons__header">
        <div class="pokemons__header-search">
          <form
            #pokemonForm="ngForm"
            (ngSubmit)="searchPokemon()"
            id="searchPokemon"
          >
            <input
              type="text"
              id="pokemon"
              name="pokemon"
              #pokemon="ngModel"
              [(ngModel)]="pokemonSearchForm"
            />
            <button>
              <img src="./assets/buscar.png" alt="pokeball" />
            </button>
          </form>
        </div>

        <div class="pokemons__header-aline">
          <div
            class="arrow-left"
            id="arrow-left"
            (click)="cambiarGeneracion2()"
          ></div>
          <div class="order" id="textGen">Gen {{ this.numeroGen + 1 }}</div>
          <div
            class="arrow-right"
            id="arrow-right"
            (click)="cambiarGeneracion1()"
          ></div>
        </div>
      </div>

      <div
        class="pokemons__pokemon-content"
        id="pokemonContent"
        (click)="exitSearch()"
      >
        <div *ngIf="search == true" class="modal">
          <div class="pokemon">
            <div class="img-container">
              <img
                src="{{ pokemonSearch[0].sprites.front_default }}"
                alt="{{ pokemonSearch[0].forms[0].name }}"
              />
            </div>
            <div class="info">
              <span class="number">#{{ pokemonSearch[0].id }}</span>
              <h3 class="name">
                {{ pokemonSearch[0].forms[0].name | uppercase }}
              </h3>
              <small><strong>Type</strong></small>
              <br />
              <small *ngFor="let tipo of pokemonSearch[0].types" class="type">
                <span>{{ tipo.type.name }} </span>
              </small>
            </div>
          </div>
        </div>

        <div *ngFor="let pokemon of pokemons; index as indice" class="pokemon">
          <div
            class="img-container"
            *ngIf="pokemon.types[0].type.name == 'fire'"
            style="background-color: #ffa05d"
          >
            <img
              src="{{ pokemon.sprites.front_default }}"
              alt="{{ pokemon.forms[0].name }}"
            />
          </div>
          <div
            class="img-container"
            *ngIf="pokemon.types[0].type.name == 'grass'"
            style="background-color: #8fd594"
          >
            <img
              src="{{ pokemon.sprites.front_default }}"
              alt="{{ pokemon.forms[0].name }}"
            />
          </div>
          <div
            class="img-container"
            *ngIf="pokemon.types[0].type.name == 'electric'"
            style="background-color: #ffe43b"
          >
            <img
              src="{{ pokemon.sprites.front_default }}"
              alt="{{ pokemon.forms[0].name }}"
            />
          </div>
          <div
            class="img-container"
            *ngIf="pokemon.types[0].type.name == 'water'"
            style="background-color: #7e97c0"
          >
            <img
              src="{{ pokemon.sprites.front_default }}"
              alt="{{ pokemon.forms[0].name }}"
            />
          </div>
          <div
            class="img-container"
            *ngIf="pokemon.types[0].type.name == 'ground'"
            style="background-color: #caac4d"
          >
            <img
              src="{{ pokemon.sprites.front_default }}"
              alt="{{ pokemon.forms[0].name }}"
            />
          </div>
          <div
            class="img-container"
            *ngIf="pokemon.types[0].type.name == 'rock'"
            style="background-color: #90642d"
          >
            <img
              src="{{ pokemon.sprites.front_default }}"
              alt="{{ pokemon.forms[0].name }}"
            />
          </div>
          <div
            class="img-container"
            *ngIf="pokemon.types[0].type.name == 'poison'"
            style="background-color: #9d5b9b"
          >
            <img
              src="{{ pokemon.sprites.front_default }}"
              alt="{{ pokemon.forms[0].name }}"
            />
          </div>
          <div
            class="img-container"
            *ngIf="pokemon.types[0].type.name == 'bug'"
            style="background-color: #eafd71"
          >
            <img
              src="{{ pokemon.sprites.front_default }}"
              alt="{{ pokemon.forms[0].name }}"
            />
          </div>
          <div
            class="img-container"
            *ngIf="pokemon.types[0].type.name == 'dragon'"
            style="background-color: #97b3e6"
          >
            <img
              src="{{ pokemon.sprites.front_default }}"
              alt="{{ pokemon.forms[0].name }}"
            />
          </div>
          <div
            class="img-container"
            *ngIf="pokemon.types[0].type.name == 'psychic'"
            style="background-color: #9d5b9b"
          >
            <img
              src="{{ pokemon.sprites.front_default }}"
              alt="{{ pokemon.forms[0].name }}"
            />
          </div>
          <div
            class="img-container"
            *ngIf="pokemon.types[0].type.name == 'flying'"
            style="background-color: #cdcdcd"
          >
            <img
              src="{{ pokemon.sprites.front_default }}"
              alt="{{ pokemon.forms[0].name }}"
            />
          </div>
          <div
            class="img-container"
            *ngIf="pokemon.types[0].type.name == 'fighting'"
            style="background-color: #ff5d5d"
          >
            <img
              src="{{ pokemon.sprites.front_default }}"
              alt="{{ pokemon.forms[0].name }}"
            />
          </div>
          <div
            class="img-container"
            *ngIf="pokemon.types[0].type.name == 'normal'"
            style="background-color: #ffffff"
          >
            <img
              src="{{ pokemon.sprites.front_default }}"
              alt="{{ pokemon.forms[0].name }}"
            />
          </div>
          <div
            class="img-container"
            *ngIf="pokemon.types[0].type.name == 'ghost'"
            style="background-color: #2e2e7d"
          >
            <img
              src="{{ pokemon.sprites.front_default }}"
              alt="{{ pokemon.forms[0].name }}"
            />
          </div>
          <div
            class="img-container"
            *ngIf="pokemon.types[0].type.name == 'fairy'"
            style="background-color: #fcb1e7"
          >
            <img
              src="{{ pokemon.sprites.front_default }}"
              alt="{{ pokemon.forms[0].name }}"
            />
          </div>
          <div
            class="img-container"
            *ngIf="pokemon.types[0].type.name == 'ice'"
            style="background-color: #84e0f5"
          >
            <img
              src="{{ pokemon.sprites.front_default }}"
              alt="{{ pokemon.forms[0].name }}"
            />
          </div>
          <div
            class="img-container"
            *ngIf="pokemon.types[0].type.name == 'dark'"
            style="background-color: #2c2e2e"
          >
            <img
              src="{{ pokemon.sprites.front_default }}"
              alt="{{ pokemon.forms[0].name }}"
            />
          </div>
          <div
            class="img-container"
            *ngIf="pokemon.types[0].type.name == 'steel'"
            style="background-color: #a0a3a3"
          >
            <img
              src="{{ pokemon.sprites.front_default }}"
              alt="{{ pokemon.forms[0].name }}"
            />
          </div>
          <div class="info">
            <span class="number">#{{ pokemon.id }}</span>
            <h3 class="name">{{ pokemon.forms[0].name | uppercase }}</h3>
            <small><strong>Type</strong></small>
            <br />
            <small *ngFor="let tipo of pokemon.types" class="type">
              <span>{{ tipo.type.name }} </span>
            </small>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
