<!DOCTYPE html>
<html lang="es">
  <div class="pokemons-container">
    <div class="pokemons__header">
      <div class="pokemons__header-search">
        <form action="" id="searchPokemon">
          <input type="text" id="pokemon" />
          <button>
            <img src="./assets/buscar.png" alt="pokeball" />
          </button>
        </form>
      </div>

      <div class="pokemons__header-aline">
        <div
          class="arrow-left"
          id="arrow-left"
          (click)="cambiarGeneracion2()"
        ></div>
        <div class="order" id="textGen">Gen {{ this.numeroGen + 1 }}</div>
        <div
          class="arrow-right"
          id="arrow-right"
          (click)="cambiarGeneracion1()"
        ></div>
      </div>
    </div>

    <div class="pokemons__pokemon-content" id="pokemonContent">
      <div *ngFor="let pokemon of pokemons; index as indice" class="pokemon">
        <div class="img-container">
          <img
            src="{{ pokemon.sprites.front_default }}"
            alt="{{ pokemon.forms[0].name }}"
          />
        </div>
        <div class="info">
          <span class="number">#{{ pokemon.id }}</span>
          <h3 class="name">{{ pokemon.forms[0].name | uppercase }}</h3>
          <small *ngFor="let tipo of pokemon.types" class="type">
            <span>{{ tipo.type.name }} </span>
          </small>
        </div>
      </div>
    </div>
  </div>
</html>
