<!DOCTYPE html>
<html lang="es">
  <div class="pokemons-container">
    <div class="title">
      <img src="./assets/create.png" alt="cretae your team" />
    </div>
    <div *ngIf="pokemonsTeam.length == 0" class="team-section">
      <img src="./assets/addPokemon.png" alt="" />
      <img
        src="./assets/add-button.png"
        alt="add pokemon"
        width="30px"
        height="30px"
        style="margin-left: 5px"
      />
    </div>
    <div *ngIf="pokemonsTeam.length > 0" class="team-section">
      <div class="team-container">
        <div class="team">
          <div *ngIf="pokemonsTeam[0] != null" class="pokemon-team">
            <img src="{{ pokemonsTeam[0].sprites.front_default }}" alt="" />
            <h3 class="name">
              {{ pokemonsTeam[0].forms[0].name | uppercase }}
            </h3>
          </div>
          <div *ngIf="pokemonsTeam[1] != null" class="pokemon-team">
            <img src="{{ pokemonsTeam[1].sprites.front_default }}" alt="" />
            <h3 class="name">
              {{ pokemonsTeam[1].forms[0].name | uppercase }}
            </h3>
          </div>
          <div *ngIf="pokemonsTeam[2] != null" class="pokemon-team">
            <img src="{{ pokemonsTeam[2].sprites.front_default }}" alt="" />
            <h3 class="name">
              {{ pokemonsTeam[2].forms[0].name | uppercase }}
            </h3>
          </div>
        </div>
        <div class="team">
          <div *ngIf="pokemonsTeam[3] != null" class="pokemon-team">
            <img src="{{ pokemonsTeam[3].sprites.front_default }}" alt="" />
            <h3 class="name">
              {{ pokemonsTeam[3].forms[0].name | uppercase }}
            </h3>
          </div>
          <div *ngIf="pokemonsTeam[4] != null" class="pokemon-team">
            <img src="{{ pokemonsTeam[4].sprites.front_default }}" alt="" />
            <h3 class="name">
              {{ pokemonsTeam[4].forms[0].name | uppercase }}
            </h3>
          </div>
          <div *ngIf="pokemonsTeam[5] != null" class="pokemon-team">
            <img src="{{ pokemonsTeam[5].sprites.front_default }}" alt="" />
            <h3 class="name">
              {{ pokemonsTeam[5].forms[0].name | uppercase }}
            </h3>
          </div>
        </div>
        <div *ngIf="pokemonsTeam.length == 6" class="pokemons__header-search">
          <form action="" id="searchPokemon">
            <label for="nombre">Team name: </label>
            <input type="text" id="pokemon" />
          </form>
        </div>
        <img
          *ngIf="pokemonsTeam.length == 6"
          src="./assets/pokebola.png"
          alt=""
          style="width: 30px; height: 30px; margin-left: 90%; cursor: pointer"
        />
      </div>
    </div>
    <div class="pokemons__header">
      <div class="pokemons__header-search">
        <form action="" id="searchPokemon">
          <input type="text" id="pokemon" />
          <button>
            <img src="./assets/buscar.png" alt="pokeball" />
          </button>
        </form>
      </div>

      <div class="pokemons__header-aline">
        <div
          class="arrow-left"
          id="arrow-left"
          (click)="cambiarGeneracion2()"
        ></div>
        <div class="order" id="textGen">Gen {{ this.numeroGen + 1 }}</div>
        <div
          class="arrow-right"
          id="arrow-right"
          (click)="cambiarGeneracion1()"
        ></div>
      </div>
    </div>

    <div class="pokemons__pokemon-content" id="pokemonContent">
      <div *ngFor="let pokemon of pokemons; index as indice" class="pokemon">
        <img
          id="add-button"
          src="./assets/add-button.png"
          alt="add pokemon"
          (click)="addPokemonTeam(indice)"
        />
        <div
          class="img-container"
          *ngIf="pokemon.types[0].type.name == 'fire'"
          style="background-color: #ffa05d"
        >
          <img
            src="{{ pokemon.sprites.front_default }}"
            alt="{{ pokemon.forms[0].name }}"
          />
        </div>
        <div
          class="img-container"
          *ngIf="pokemon.types[0].type.name == 'grass'"
          style="background-color: #8fd594"
        >
          <img
            src="{{ pokemon.sprites.front_default }}"
            alt="{{ pokemon.forms[0].name }}"
          />
        </div>
        <div
          class="img-container"
          *ngIf="pokemon.types[0].type.name == 'electric'"
          style="background-color: #ffe43b"
        >
          <img
            src="{{ pokemon.sprites.front_default }}"
            alt="{{ pokemon.forms[0].name }}"
          />
        </div>
        <div
          class="img-container"
          *ngIf="pokemon.types[0].type.name == 'water'"
          style="background-color: #7e97c0"
        >
          <img
            src="{{ pokemon.sprites.front_default }}"
            alt="{{ pokemon.forms[0].name }}"
          />
        </div>
        <div
          class="img-container"
          *ngIf="pokemon.types[0].type.name == 'ground'"
          style="background-color: #caac4d"
        >
          <img
            src="{{ pokemon.sprites.front_default }}"
            alt="{{ pokemon.forms[0].name }}"
          />
        </div>
        <div
          class="img-container"
          *ngIf="pokemon.types[0].type.name == 'rock'"
          style="background-color: #90642d"
        >
          <img
            src="{{ pokemon.sprites.front_default }}"
            alt="{{ pokemon.forms[0].name }}"
          />
        </div>
        <div
          class="img-container"
          *ngIf="pokemon.types[0].type.name == 'poison'"
          style="background-color: #9d5b9b"
        >
          <img
            src="{{ pokemon.sprites.front_default }}"
            alt="{{ pokemon.forms[0].name }}"
          />
        </div>
        <div
          class="img-container"
          *ngIf="pokemon.types[0].type.name == 'bug'"
          style="background-color: #eafd71"
        >
          <img
            src="{{ pokemon.sprites.front_default }}"
            alt="{{ pokemon.forms[0].name }}"
          />
        </div>
        <div
          class="img-container"
          *ngIf="pokemon.types[0].type.name == 'dragon'"
          style="background-color: #97b3e6"
        >
          <img
            src="{{ pokemon.sprites.front_default }}"
            alt="{{ pokemon.forms[0].name }}"
          />
        </div>
        <div
          class="img-container"
          *ngIf="pokemon.types[0].type.name == 'psychic'"
          style="background-color: #9d5b9b"
        >
          <img
            src="{{ pokemon.sprites.front_default }}"
            alt="{{ pokemon.forms[0].name }}"
          />
        </div>
        <div
          class="img-container"
          *ngIf="pokemon.types[0].type.name == 'flying'"
          style="background-color: #cdcdcd"
        >
          <img
            src="{{ pokemon.sprites.front_default }}"
            alt="{{ pokemon.forms[0].name }}"
          />
        </div>
        <div
          class="img-container"
          *ngIf="pokemon.types[0].type.name == 'fighting'"
          style="background-color: #ff5d5d"
        >
          <img
            src="{{ pokemon.sprites.front_default }}"
            alt="{{ pokemon.forms[0].name }}"
          />
        </div>
        <div
          class="img-container"
          *ngIf="pokemon.types[0].type.name == 'normal'"
          style="background-color: #ffffff"
        >
          <img
            src="{{ pokemon.sprites.front_default }}"
            alt="{{ pokemon.forms[0].name }}"
          />
        </div>
        <div
          class="img-container"
          *ngIf="pokemon.types[0].type.name == 'ghost'"
          style="background-color: #2e2e7d"
        >
          <img
            src="{{ pokemon.sprites.front_default }}"
            alt="{{ pokemon.forms[0].name }}"
          />
        </div>
        <div
          class="img-container"
          *ngIf="pokemon.types[0].type.name == 'fairy'"
          style="background-color: #fcb1e7"
        >
          <img
            src="{{ pokemon.sprites.front_default }}"
            alt="{{ pokemon.forms[0].name }}"
          />
        </div>
        <div
          class="img-container"
          *ngIf="pokemon.types[0].type.name == 'ice'"
          style="background-color: #84e0f5"
        >
          <img
            src="{{ pokemon.sprites.front_default }}"
            alt="{{ pokemon.forms[0].name }}"
          />
        </div>
        <div
          class="img-container"
          *ngIf="pokemon.types[0].type.name == 'dark'"
          style="background-color: #2c2e2e"
        >
          <img
            src="{{ pokemon.sprites.front_default }}"
            alt="{{ pokemon.forms[0].name }}"
          />
        </div>
        <div
          class="img-container"
          *ngIf="pokemon.types[0].type.name == 'steel'"
          style="background-color: #a0a3a3"
        >
          <img
            src="{{ pokemon.sprites.front_default }}"
            alt="{{ pokemon.forms[0].name }}"
          />
        </div>
        <div class="info">
          <span class="number">#{{ pokemon.id }}</span>
          <h3 class="name">{{ pokemon.forms[0].name | uppercase }}</h3>
          <small><strong>Type</strong></small>
          <br />
          <small *ngFor="let tipo of pokemon.types" class="type">
            <span>{{ tipo.type.name }} </span>
          </small>
        </div>
      </div>
    </div>
  </div>
</html>
