#cabecera{
  width: 100%;
  background: #AFEEEE;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 1px 1px #484848;
}


#logo{
  margin:12px;
  text-align: center;
  img{
    width: 120px;
    height: 120px;
    }
}

.caja{
  min-width: 30%;
  text-align: center;
}
