<html lang="es">
  <head> </head>
  <body>
    <div class="container">
      <div class="box-button">
        <div class="btn-bg Pokemon">
          <div class="btn-group">
            <div class="btn ball">
              <button>
                <div class="pokemon-ball"></div>
                <a [routerLink]="['/createTeam']"
                  >Create team <span data-letters="Go!"></span
                  ><span data-letters="Go!"></span
                ></a>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="teams">
        <div *ngIf="pokemons.length == 0" class="team">
          <h2>You don't have any team create</h2>
        </div>
        <div *ngFor="let team of pokemons; index as indice" class="team">
          <img
            class="remove"
            src="./assets/remove.png"
            alt=""
            (click)="deleteTeam(indice)"
          />
          <h2>{{ team.name }}</h2>
          <div class="pokemon-content">
            <div *ngFor="let pokemon of team.pokemons" class="pokemon">
              <img src="{{ pokemon.sprites.front_default }}" alt="" />
              <h3>
                {{ pokemon.forms[0].name | uppercase }}
              </h3>
              <div>
                <small><strong>Type</strong></small>
                <br />
                <small *ngFor="let tipo of pokemon.types" class="type">
                  <span>{{ tipo.type.name }} </span>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
