<html lang="es">
  <head> </head>
  <body>
    <div class="container">
      <div class="box-button">
        <div class="btn-bg Pokemon">
          <div class="btn-group">
            <div class="btn ball">
              <button>
                <div class="pokemon-ball"></div>
                <a [routerLink]="['/createTeam']"
                  >Create team <span data-letters="Go!"></span
                  ><span data-letters="Go!"></span
                ></a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
